body {
    background-image: url(../images/green-field.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-size: 100% auto;
}

#whac-a-mole {
    text-align: center;
    text-transform: capitalize;
}

#score {
    text-align: center;
}

#grid {
    display: grid;
    grid-template-rows: repeat(3, auto);
    grid-template-columns: repeat(3, auto);
  }

  .mole-hole {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: brown;
}