
#whac-a-mole {
    text-align: center;
    text-transform: capitalize;
}

#score {
    text-align: center;
}

#grid {
        display: grid;
        grid-template-rows: auto;
        grid-template-columns: auto;
}

#mole-hole {
    height: 800px;
    width: 800px;
}